<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Sistem</title>



    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>


    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- Custom fonts for this template <link  rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css">-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome_free/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/static2/css/sb_admin_2.min.css}">
    <link rel="stylesheet" th:href="@{/static2/css/sb_admin_2.css}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/default}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SIE  </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
<!--        <li class="nav-item active">-->
<!--            <a class="nav-link" href="index.html">-->
<!--                <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--                <span>Dashboard</span></a>-->
<!--        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
<!--        <div class="sidebar-heading">-->
<!--            Interface-->
<!--        </div>-->

        <!-- Nav Item - Pages Collapse Menu -->
<!--        <li class="nav-item">-->
<!--            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo"-->
<!--               data-toggle="collapse" href="#">-->
<!--                <i class="fas fa-fw fa-cog"></i>-->
<!--                <span>Components</span>-->
<!--            </a>-->
<!--            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseTwo">-->
<!--                <div class="bg-white py-2 collapse-inner rounded">-->
<!--                    <h6 class="collapse-header">Custom Components:</h6>-->
<!--                    <a class="collapse-item" href="buttons.html">Buttons</a>-->
<!--                    <a class="collapse-item" href="cards.html">Cards</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->

        <!-- Nav Item - Utilities Collapse Menu -->
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Fromulare</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Form:</h6>
                    <a class="collapse-item" th:href="@{/form1}">Primul Formular</a>

                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
<!--        <div class="sidebar-heading">-->
<!--            Addons-->
<!--        </div>-->

        <!-- Nav Item - Pages Collapse Menu -->
<!--        <li class="nav-item">-->
<!--            <a aria-controls="collapsePages" aria-expanded="true" class="nav-link collapsed"-->
<!--               data-target="#collapsePages"-->
<!--               data-toggle="collapse" href="#">-->
<!--                <i class="fas fa-fw fa-folder"></i>-->
<!--                <span>Pages</span>-->
<!--            </a>-->
<!--            <div aria-labelledby="headingPages" class="collapse" data-parent="#accordionSidebar" id="collapsePages">-->
<!--                <div class="bg-white py-2 collapse-inner rounded">-->
<!--                    <h6 class="collapse-header">Login Screens:</h6>-->
<!--                    <a class="collapse-item" href="login.html">Login</a>-->
<!--                    <a class="collapse-item" href="register.html">Register</a>-->
<!--                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>-->
<!--                    <div class="collapse-divider"></div>-->
<!--                    <h6 class="collapse-header">Other Pages:</h6>-->
<!--                    <a class="collapse-item" href="404.html">404 Page</a>-->
<!--                    <a class="collapse-item" href="blank.html">Blank Page</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->

        <!-- Nav Item - Charts -->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="charts.html">-->
<!--                <i class="fas fa-fw fa-chart-area"></i>-->
<!--                <span>Charts</span></a>-->
<!--        </li>-->

        <!-- Nav Item - Tables -->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="tables.html">-->
<!--                <i class="fas fa-fw fa-table"></i>-->
<!--                <span>Tables</span></a>-->
<!--        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input aria-describedby="basic-addon2" aria-label="Search"
                               class="form-control bg-light border-0 small"
                               placeholder="Search for..." type="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="searchDropdown" role="button">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div aria-labelledby="searchDropdown"
                             class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input aria-describedby="basic-addon2" aria-label="Search"
                                           class="form-control bg-light border-0 small" placeholder="Search for..."
                                           type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
<!--                    <li class="nav-item dropdown no-arrow mx-1">-->
<!--                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"-->
<!--                           data-toggle="dropdown"-->
<!--                           href="#" id="alertsDropdown" role="button">-->
<!--                            <i class="fas fa-bell fa-fw"></i>-->
<!--                            &lt;!&ndash; Counter - Alerts &ndash;&gt;-->
<!--                            <span class="badge badge-danger badge-counter">3+</span>-->
<!--                        </a>-->
<!--                        &lt;!&ndash; Dropdown - Alerts &ndash;&gt;-->
<!--                        <div aria-labelledby="alertsDropdown"-->
<!--                             class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in">-->
<!--                            <h6 class="dropdown-header">-->
<!--                                Alerts Center-->
<!--                            </h6>-->
<!--                            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                <div class="mr-3">-->
<!--                                    <div class="icon-circle bg-primary">-->
<!--                                        <i class="fas fa-file-alt text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <div class="small text-gray-500">December 12, 2019</div>-->
<!--                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                <div class="mr-3">-->
<!--                                    <div class="icon-circle bg-success">-->
<!--                                        <i class="fas fa-donate text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <div class="small text-gray-500">December 7, 2019</div>-->
<!--                                    $290.29 has been deposited into your account!-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                <div class="mr-3">-->
<!--                                    <div class="icon-circle bg-warning">-->
<!--                                        <i class="fas fa-exclamation-triangle text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <div class="small text-gray-500">December 2, 2019</div>-->
<!--                                    Spending Alert: We've noticed unusually high spending for your account.-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>-->
<!--                        </div>-->
<!--                    </li>-->

                    <!-- Nav Item - Messages -->
<!--                    <li class="nav-item dropdown no-arrow mx-1">-->
<!--                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"-->
<!--                           data-toggle="dropdown"-->
<!--                           href="#" id="messagesDropdown" role="button">-->
<!--                            <i class="fas fa-envelope fa-fw"></i>-->
<!--                            &lt;!&ndash; Counter - Messages &ndash;&gt;-->
<!--                            <span class="badge badge-danger badge-counter">7</span>-->
<!--                        </a>-->
<!--                        &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
<!--                        <div aria-labelledby="messagesDropdown"-->
<!--                             class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in">-->
<!--                            <h6 class="dropdown-header">-->
<!--                                Message Center-->
<!--                            </h6>-->
<!--                            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                <div class="dropdown-list-image mr-3">-->
<!--                                    <img alt="" class="rounded-circle"-->
<!--                                         src="https://source.unsplash.com/fn_BT9fwg_E/60x60">-->
<!--                                    <div class="status-indicator bg-success"></div>-->
<!--                                </div>-->
<!--                                <div class="font-weight-bold">-->
<!--                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a-->
<!--                                        problem I've been having.-->
<!--                                    </div>-->
<!--                                    <div class="small text-gray-500">Emily Fowler · 58m</div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                <div class="dropdown-list-image mr-3">-->
<!--                                    <img alt="" class="rounded-circle"-->
<!--                                         src="https://source.unsplash.com/AU4VPcFN4LE/60x60">-->
<!--                                    <div class="status-indicator"></div>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <div class="text-truncate">I have the photos that you ordered last month, how would-->
<!--                                        you like them sent to you?-->
<!--                                    </div>-->
<!--                                    <div class="small text-gray-500">Jae Chun · 1d</div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                <div class="dropdown-list-image mr-3">-->
<!--                                    <img alt="" class="rounded-circle"-->
<!--                                         src="https://source.unsplash.com/CS2uCrpNzJY/60x60">-->
<!--                                    <div class="status-indicator bg-warning"></div>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <div class="text-truncate">Last month's report looks great, I am very happy with the-->
<!--                                        progress so far, keep up the good work!-->
<!--                                    </div>-->
<!--                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                                <div class="dropdown-list-image mr-3">-->
<!--                                    <img alt="" class="rounded-circle"-->
<!--                                         src="https://source.unsplash.com/Mv9hjnEUHR4/60x60">-->
<!--                                    <div class="status-indicator bg-success"></div>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told-->
<!--                                        me that people say this to all dogs, even if they aren't good...-->
<!--                                    </div>-->
<!--                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>-->
<!--                        </div>-->
<!--                    </li>-->

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">User</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" method="get"
                               th:action="@{/logout}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->



            <form th:action="@{/form1}" th:method="post" th:object="${form}">
                <div class="container">
                    <fieldset>
                        <input id="submitButton1" th:value="Save" type="submit">
                        <input id="resetButton1" name="reset" th:value="Reset" type="reset">
                        <table>
                            <tbody>
                            <tr th:each="questionsList,itemStat  : ${questionsLists}">
                                <td th:name="${questionsList}" th:text="${questionsList.id}">Id</td>
                                <td th:name="${questionsList.questions}" th:text="${questionsList.questions}">
                                    Intrebare
                                </td>

<!--                                </br>-->
                                <td><input class="form-check-input" th:field="*{questionsList[__${itemStat.index}__].options1}" th:id="${questionsList.questions} + '4dpd'"
                                           type="radio" value="1">Option 1
                                </td>
                                <th><td><input th:field="*{questionsList[__${itemStat.index}__].options2}" th:id="${questionsList.questions} + '4mn'"
                                           type="radio" value="2">Option 2
                                </td></th>
                                <th><td><input th:field="*{questionsList[__${itemStat.index}__].options3}" th:id="${questionsList.questions} + '4qwd'"
                                           type="radio" value="3 ">Option 3
                                </td></th>
                                <th><td><input th:field="*{questionsList[__${itemStat.index}__].options4}" th:id="${questionsList.questions} + '4fud'"
                                           type="radio" value="4">Option 4
                                </td></th>
                                <th><td><input th:field="*{questionsList[__${itemStat.index}__].options5}" th:id="${questionsList.questions} + 'fdd'"
                                           type="radio" value="5">Option 5
                                </td></th>

                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <button class="btn btn-primary" type="submit">Evalueaza</button>
                </div>
            </form>


            <!-- Footer -->
            <footer class="sticky-footer bg-white m-auto w-100" style="position:absolute; bottom:0;">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SIE Project</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>




</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <form method="get" th:action="@{/logout}">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!--<a class="btn btn-primary" type="Submit" >Logout</a>-->

                    <button class="btn btn-primary"
                            type="Submit">Logout
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
<script th:href="@{/vendor/jquery/jquery.min.js}"></script>
<script th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
-->
<!-- Core plugin JavaScript-->
<script th:href="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:href="@{/static2/js/sb_admin_2.min.js}"></script>
<script th:href="@{/static2/js/sb_admin_2.js}"></script>

<!-- Page level plugins -->
<script th:href="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:href="@{/static2/js/demo/chart-area-demo.js}"></script>
<script th:href="@{/static2/js/demo/chart-pie-demo.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
$('.dropdown-toggle').dropdown();
});


</script>


</body>

</html>

