<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/static2/vendor/fontawesome_free/css/all.min.css}">
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" >

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb_admin_2.min.css}">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" autocomplete="off" th:action="@{/registration}"
                              th:object="${user}" method="post"
                              role="form">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                           class="validation-message"></label>
                                    <input type="text"  th:field="*{name}"  class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                           class="validation-message"></label>
                                    <input type="text"  th:field="*{lastName}" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label
                                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                        class="validation-message"></label>
                                <input type="email" th:field="*{email}"  class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label
                                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                            class="validation-message"></label>
                                    <input type="password"  th:field="*{password}" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                </div>
                                <!--<div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                                </div>-->
                            </div>
                            <button class="btn btn-primary btn-user btn-block" name="Submit" value="Register" type="Submit"
                                    th:text="Register"></button>
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script th:href="@{vendor/jquery/jquery.min.js}"></script>
<script th:href="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:href="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:href="@{js/sb-admin-2.min.js}"></script>

</body>

</html>
