<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="fragments/header :: header">
    <title>Header</title>
</head>

<body>

<div th:replace="fragments/navigation :: navigation"></div>

<div class="container" id="mainContent">

    <div class="row">
        <div class="col-md-8">
            <div layout:fragment="content"></div>
        </div>

        <div class="col-md-4">
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
<!-- Core plugin JavaScript-->
<script th:href="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:href="@{/static2/js/sb_admin_2.min.js}"></script>
<script th:href="@{/static2/js/sb_admin_2.js}"></script>

<!-- Page level plugins -->
<script th:href="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:href="@{/static2/js/demo/chart-area-demo.js}"></script>
<script th:href="@{/static2/js/demo/chart-pie-demo.js}"></script>
</html>